{# 
	Single Post template
	--------------------
 #}

{% extends "single/single.twig" %}

{% block byline %}
<h1>{{ post.title }}</h1>
<p>
	<time datetime='{{post.post_date | date("c") }}'>
		{{ post.post_date | date("d/m/Y") }}
	</time>
</p>
{% endblock byline %}
