{# 
	Archive template
	----------------

	Overrides the index page content by adding
	the archive title, followed by the original content
	Reference: https://twig.symfony.com/doc/2.x/functions/parent.html
 #}

{% extends "index.twig" %}

{% block content %}

<h1>{{ title }}</h1>
{{ parent() }}

{% endblock content %}