<!doctype html>
<html class="no-js" {{site.language_attributes}}>
	<head>
		{% include 'components/head.twig' %}
		{% block head %}
		{% endblock %}
	</head>
	<body class="{{body_class}}">
		<main id='main-content'>
			{% block header %}
				{% include 'components/header.twig' %}
			{% endblock %}
			<section role="main">
				{% if title %}
					<h1 class='archive__title'>{{ title }}</h1>
				{% endif %}

				{% block content %}
					{{__("Sorry, no content", "Lathe")}}
				{% endblock %}
			</section>
		</main>

		{% block footer %}
			{% include 'components/footer.twig' %}
		{% endblock %}
	</body>
</html>
