{# 
	Base template
	-------------

	This is the wrapper layout for most pages.
 #}

<!doctype html>
<html class="no-js" {{site.language_attributes}}>
	<head>
		{% include 'components/head.twig' %}
		{% block head %}
		{% endblock %}
	</head>
	<body class="{{body_class}}">
		{% block header %}
			{% include 'components/header.twig' %}
		{% endblock %}

		<main id='main'>
			{% if title %}
				<h1 class='archive__title'>{{ title }}</h1>
			{% endif %}

			{% block content %}
				{{__("Sorry, no content", "lathe")}}
			{% endblock %}
		</main>

		{% block footer %}
			{% include 'components/footer.twig' %}
		{% endblock %}
	</body>
</html>
