<footer>

	<nav class='footer__social'>
	{% 
		include "components/menu.twig" with {
			'menu': footer_menu.get_items
		} 
	%}
	</nav>

	<form action="{{site.link}}" method="GET" class='searchbox'>
		<input name="s" type="search" placeholder='{{__("Search", "lathe")}}'>
		<button>{{__("Submit", 'lathe')}}</button>
	</form>
	
</footer>

{{ function('wp_footer') }}