{# 
	Footer component
	----------------
#}

<footer role='contentinfo'>
		<nav>
			{% 
				include "components/menu.twig" with {
					'menu': menus['footer-menu'].get_items
				} 
			%}
			{% 
				include "components/menu.twig" with {
					'menu': menus['social-menu'].get_items
				} 
			%}
		</nav>
</footer>

{# Allow WordPress to add things #}
{{ function('wp_footer') }}
