<header>
	<a class='skip-to-content' href='#main'>
		{{__("Skip to content", "lathe")}}
	</a>

	<h1>
		<a href='{{site.link}}'>{{ site.name }}</a>
	</h1>
	<nav>
		{% 
			include "components/menu.twig" with {
				'menu': menu.get_items
			}
		%}
	</nav>

	{% include "components/searchbox.twig" %}
</header>