{#
	Header component
	---------------- 
 #}
<header>

	{# 
		Allows users to jump to the content. 
		Make sure you have an element with id='main' on your page.
	#}
	<a class='skip-to-content' href='#main'>
		{{__("Skip to content", "lathe")}}
	</a>

	<a href='{{site.link}}'>{{site.name}}</a>

	<nav>
		{% 
			include "components/menu.twig" with {
				menu: menu.get_items
			}
		%}
	</nav>

	{% include "components/searchbox.twig" %}

</header>