{#
	Header component
	---------------- 
 #}
<header>

	{# 
		Allows users to jump to the content. 
		Make sure you have an element with id='main' on your page.
	#}
	<a class='skip-to-content' href='#main'>
		{{__("Skip to content", "lathe")}}
	</a>

	<a href='{{site.link}}'>{{site.name}}</a>

	<nav>
	{% 
		include "components/menu.twig" with {
			menu: menu.get_items
		}
	%}
	</nav>

	{% include "components/searchbox.twig" %}

	{#
		WPML language switcher
		----------------------

		If using WPML for multilingual WordPress,
		you can use the `language-switcher` component
		to include links to all available languages. 	

		{% include "components/language-switcher.twig" %} 
	#}
	
</header>