{# 
	Search component
	----------------
 #}
<form action="{{site.link}}" method="GET" class='searchbox'>
	<input name="s" type="search" placeholder='{{__("Search in site", "lathe")}}'>
	<button>{{__("Search", 'lathe')}}</button>
</form>