{% set ajaxurl = function('admin_url', 'admin-ajax.php') %}

<p>{{__("The Twig Cache improves speed, but changes you make to your Twig templates will not be reflected. You can clear the cache below:", "lathe")}}</p>

{% include 'admin/ajax-action-form.twig' with {
	action: 'clear_twig_cache',
	label: 'Clear Twig Cache'
} %}

<p>{{__("You can flush rewrite rules after you make changes to custom post types, and other things that affect permalinks.", "lathe")}}</p>

{% include 'admin/ajax-action-form.twig' with {
	action: 'flush_rewrites',
	label: 'Flush Rewrite Rules'
} %}